---
import { getCollection } from 'astro:content';
import { createMarkdownProcessor } from '@astrojs/markdown-remark';
import BaseLayout from '../../layouts/BaseLayout.astro';
import PostList from '../../components/PostList.astro';
import ArticleCard from '../../components/ArticleCard.astro';

const title = 'mCSS Blog';
const allPosts = await getCollection('blog');
allPosts.sort((a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime());

const md = await createMarkdownProcessor();
const descriptions = new Map();
for (const post of allPosts) {
  const { code } = await md.render(post.data.description);
  descriptions.set(post.id, code);
}
---

<BaseLayout title={title} bodyClass="layout layout-centered">
  <main class="blog layout_content_main">
    <h1 class="h3">Latest updates, tutorials, tips and tricks, and the occasional rant.</h1>
    <PostList cols={2} class="mt-md1">
      {
        allPosts.map((post) => (
          <li>
            <ArticleCard href={`/blog/${post.id}`} title={post.data.title} tags={post.data.tags} author={post.data.author} date={post.data.pubDate} imageSrc={post.data.image?.url} imageAlt={post.data.image?.alt}>
              <Fragment set:html={descriptions.get(post.id)} />
            </ArticleCard>
          </li>
        ))
      }
    </PostList>
  </main>
</BaseLayout>
