---
import { createMarkdownProcessor } from '@astrojs/markdown-remark';
import { getBlogPosts } from '../../scripts/content.js';
import BaseLayout from '../../layouts/BaseLayout.astro';
import CardList from '../../components/CardList.astro';
import Card from '../../components/Card.astro';

const title = 'mCSS Blog';
const allPosts = await getBlogPosts();
allPosts.sort((a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime());

const md = await createMarkdownProcessor();
const descriptions = new Map();
for (const post of allPosts) {
  const { code } = await md.render(post.data.description);
  descriptions.set(post.id, code);
}
---

<BaseLayout title={title} bodyClass="layout layout-centered">
  <main class="blog layout_content_main">
    <h1 class="h3">Latest updates, tutorials, tips and tricks, and the occasional rant.</h1>
    <CardList cols={2} class="mt-md1">
      {
        allPosts.map((post) => (
          <li>
            <Card href={`/blog/${post.id}`} title={post.data.title} headingLevel={3} flushImage tags={post.data.tags} author={post.data.author} date={post.data.pubDate} imageSrc={post.data.image?.url} imageAlt={post.data.image?.alt}>
              <Fragment set:html={descriptions.get(post.id)} />
            </Card>
          </li>
        ))
      }
    </CardList>
  </main>
</BaseLayout>
