---
import { Image } from 'astro:assets';
import type { HTMLAttributes } from 'astro/types';
import type { ImageMetadata } from 'astro';
import Avatar from './Avatar.astro';
import Tags from './Tags.astro';

interface Props extends HTMLAttributes<'article'> {
  href: string;
  title: string;
  imageSrc?: ImageMetadata | string;
  imageAlt?: string;
  tags?: string[];
  tagsUrl?: string;
  author?: string;
  avatarSrc?: ImageMetadata | string;
  date?: Date;
  locale?: string;
  variant?: 'filled' | 'raised';
  'data-testid'?: string;
}

// prettier-ignore
const {
  href,
  title,
  imageSrc,
  imageAlt = '',
  tags = [],
  tagsUrl = '/blog/tags',
  author,
  avatarSrc,
  date,
  locale = 'en-US',
  variant,
  class: className,
  'data-testid': testId = 'articleCard',
  ...rest
} = Astro.props as Props;

const dateText = date && date.toLocaleDateString(locale, { dateStyle: 'medium' });
const dateTime = date && date.toISOString().split('T')[0];
---

<!-- prettier-ignore -->
<article
  class:list={[
    'card',
    'articleCard',
    variant && `card-${variant}`,
    className,
  ]}
  data-testid={testId}
  {...rest}
>
  {
    imageSrc && (
      <figure class="articleCard_media">
        {typeof imageSrc === 'string' ? (
          <img class="articleCard_image" src={imageSrc} alt={imageAlt} loading="lazy" decoding="async" />
        ) : (
          <Image class="articleCard_image" src={imageSrc} alt={imageAlt} loading="lazy" decoding="async" />
        )}
      </figure>
    )
  }
  {tags.length > 0 && <Tags class="articleCard_tags" tagList={tags} url={tagsUrl} />}
  <h3 class="articleCard_title"><a href={href}>{title}</a></h3>
  {
    Astro.slots.has('default') && (
      <div class="articleCard_description">
        <slot />
      </div>
    )
  }
  {
    (author || date) && (
      <footer class="articleCard_byline">
        {author && <Avatar size="sm" imageSrc={avatarSrc}>{author}</Avatar>}
        <div>
          {author && <span class="articleCard_author">{author}</span>}
          {date && <time datetime={dateTime}>{dateText}</time>}
        </div>
      </footer>
    )
  }
</article>
