---
import { Image } from 'astro:assets';
import { getInitials } from '../scripts/utilities';
// prettier-ignore
const {
  online = false,
  offline = false,
  imageSrc,
  size,
  extraClass = '',
  'data-testid': testId = 'avatar',
} = Astro.props;

const slotContent = await Astro.slots.render('default');
const initials = getInitials(slotContent);
const label = slotContent || 'User avatar';
---

<!-- prettier-ignore -->
<div
  class:list={[
    'avatar',
    size && `avatar-${size}`,
    online && 'avatar-online',
    offline && 'avatar-offline',
    extraClass,
  ]}
  role="img"
  aria-label={label}
  data-testid={testId}
>
  <div>
    {imageSrc && <Image src={imageSrc} alt={label} width="256" />}
    {!imageSrc && initials && <span>{initials}</span>}
  </div>
</div>
