---
import type { HTMLAttributes } from 'astro/types';

type WrapSize = 'sm' | 'md' | 'lg';

interface Props extends HTMLAttributes<'section'> {
  eyebrow?: string;
  title?: string;
  lede?: string;
  variant?: 'filled' | 'primary';
  headerWrap?: WrapSize;
  contentWrap?: WrapSize;
  headerClass?: string;
  contentClass?: string;
  'data-testid'?: string;
}

// prettier-ignore
const {
  eyebrow,
  title,
  lede,
  variant,
  headerWrap = 'md',
  contentWrap = 'lg',
  headerClass,
  contentClass,
  class: className,
  'data-testid': testId = 'section',
  ...rest
} = Astro.props as Props;
---

<!-- prettier-ignore -->
<section
  class:list={[
    'section',
    variant && `section-${variant}`,
    className,
  ]}
  data-testid={testId}
  {...rest}
>
  {
    (eyebrow || title || lede) && (
      <header class:list={['section_header', 'wrap', `wrap-${headerWrap}`, headerClass]}>
        {eyebrow && <p class="section_eyebrow">{eyebrow}</p>}
        {title && <h2 class="section_title">{title}</h2>}
        {lede && <p class="section_lede">{lede}</p>}
      </header>
    )
  }
  <div class:list={['section_content', 'wrap', `wrap-${contentWrap}`, contentClass]}>
    <slot />
  </div>
</section>
