---
import discordIcon from '../assets/icons/social-discord.svg?raw';
import facebookIcon from '../assets/icons/social-facebook.svg?raw';
import githubIcon from '../assets/icons/social-github.svg?raw';
import instagramIcon from '../assets/icons/social-instagram.svg?raw';
import linkedinIcon from '../assets/icons/social-linkedin.svg?raw';
import mindsIcon from '../assets/icons/social-minds.svg?raw';
import odyseeIcon from '../assets/icons/social-odysee.svg?raw';
import pinterestIcon from '../assets/icons/social-pinterest.svg?raw';
import redditIcon from '../assets/icons/social-reddit.svg?raw';
import snapchatIcon from '../assets/icons/social-snapchat.svg?raw';
import substackIcon from '../assets/icons/social-substack.svg?raw';
import telegramIcon from '../assets/icons/social-telegram.svg?raw';
import tiktokIcon from '../assets/icons/social-tiktok.svg?raw';
import twitchIcon from '../assets/icons/social-twitch.svg?raw';
import xIcon from '../assets/icons/social-x.svg?raw';
import youtubeIcon from '../assets/icons/social-youtube.svg?raw';
import bitchuteIcon from '../assets/icons/social-bitchute.svg?raw';
import bastyonIcon from '../assets/icons/social-bastyon.svg?raw';
import linkIcon from '../assets/icons/link.svg?raw';

const platforms = {
  Bastyon: {
    icon: bastyonIcon,
    match: /bastyon\.com/,
  },
  Bitchute: {
    icon: bitchuteIcon,
    match: /bitchute\.com/,
  },
  Discord: {
    icon: discordIcon,
    match: /discord\.com/,
  },
  Facebook: {
    icon: facebookIcon,
    match: /facebook\.com/,
  },
  Github: {
    icon: githubIcon,
    match: /github\.com/,
  },
  Instagram: {
    icon: instagramIcon,
    match: /instagram\.com/,
  },
  Linkedin: {
    icon: linkedinIcon,
    match: /linkedin\.com/,
  },
  Minds: {
    icon: mindsIcon,
    match: /minds\.com/,
  },
  Odysee: {
    icon: odyseeIcon,
    match: /odysee\.com/,
  },
  Pinterest: {
    icon: pinterestIcon,
    match: /pinterest\.com/,
  },
  Reddit: {
    icon: redditIcon,
    match: /reddit\.com/,
  },
  Snapchat: {
    icon: snapchatIcon,
    match: /snapchat\.com/,
  },
  Substack: {
    icon: substackIcon,
    match: /substack\.com/,
  },
  Telegram: {
    icon: telegramIcon,
    match: /telegram\.org|t\.me/,
  },
  Tiktok: {
    icon: tiktokIcon,
    match: /tiktok\.com/,
  },
  Twitch: {
    icon: twitchIcon,
    match: /twitch\.tv/,
  },
  X: {
    icon: xIcon,
    match: /twitter\.com|x\.com/,
  },
  YouTube: {
    icon: youtubeIcon,
    match: /youtube\.com/,
  },
  'Social Media': {
    icon: linkIcon, // General link icon for unknown platforms
    match: /.*/,
  },
};

const { urls, size, extraClass } = Astro.props;

const filteredPlatforms = urls
  .map((url) => {
    const serviceKey = Object.keys(platforms).find((key) => platforms[key].match.test(url));
    const service = platforms[serviceKey];
    return { url, icon: service.icon, key: serviceKey };
  })
  .filter(Boolean);
---

<ul class={`socialMedia${size ? ` socialMedia-${size}` : ''}${extraClass ? ` ${extraClass}` : ''}`}>
  {
    filteredPlatforms.map(({ url, icon, key }) => (
      <li>
        <a href={url} title={key} target="_blank" rel="noopener noreferrer" aria-label={url}>
          <Fragment set:html={icon} alt="" />
        </a>
      </li>
    ))
  }
</ul>
