---
import discordIcon from '../assets/icons/discord.svg?raw';
import facebookIcon from '../assets/icons/facebook.svg?raw';
import githubIcon from '../assets/icons/github.svg?raw';
import instagramIcon from '../assets/icons/instagram.svg?raw';
import linkedinIcon from '../assets/icons/linkedin.svg?raw';
import pinterestIcon from '../assets/icons/pinterest.svg?raw';
import redditIcon from '../assets/icons/reddit.svg?raw';
import snapchatIcon from '../assets/icons/snapchat.svg?raw';
import telegramIcon from '../assets/icons/telegram.svg?raw';
import tiktokIcon from '../assets/icons/tiktok.svg?raw';
import xIcon from '../assets/icons/x.svg?raw';
import youtubeIcon from '../assets/icons/youtube.svg?raw';
import linkIcon from '../assets/icons/link.svg?raw';

const services = {
  Discord: {
    icon: discordIcon,
    match: /discord\.com/,
  },
  Facebook: {
    icon: facebookIcon,
    match: /facebook\.com/,
  },
  Github: {
    icon: githubIcon,
    match: /github\.com/,
  },
  Instagram: {
    icon: instagramIcon,
    match: /instagram\.com/,
  },
  Linkedin: {
    icon: linkedinIcon,
    match: /linkedin\.com/,
  },
  Pinterest: {
    icon: pinterestIcon,
    match: /pinterest\.com/,
  },
  Reddit: {
    icon: redditIcon,
    match: /reddit\.com/,
  },
  Snapchat: {
    icon: snapchatIcon,
    match: /snapchat\.com/,
  },
  Telegram: {
    icon: telegramIcon,
    match: /telegram\.org/,
  },
  Tiktok: {
    icon: tiktokIcon,
    match: /tiktok\.com/,
  },
  X: {
    icon: xIcon,
    match: /twitter\.com|x\.com/,
  },
  YouTube: {
    icon: youtubeIcon,
    match: /youtube\.com/,
  },
  Link: {
    icon: linkIcon, // General link icon for unknown services
    match: /.*/,
  },
};

const { urls, size } = Astro.props;

const filteredServices = urls
  .map((url) => {
    const serviceKey = Object.keys(services).find((key) => services[key].match.test(url));
    const service = services[serviceKey];
    return { url, icon: service.icon, key: serviceKey };
  })
  .filter(Boolean);
---

<ul class={`socialMedia ${size ? `socialMedia-${size}` : ''}`}>
  {
    filteredServices.map(({ url, icon, key }) => (
      <li>
        <a href={url} title={key} target="_blank" rel="noopener noreferrer" aria-label={url}>
          <Fragment set:html={icon} alt="" />
        </a>
      </li>
    ))
  }
</ul>
