---
import '../styles/_global.css';

import logoImg from '../assets/ui/mcss-logo.png';

import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

const { title, bodyClass, frontmatter } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="msapplication-TileColor" content="#0ea5e9" />
    <meta name="theme-color" content="#ffffff" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={frontmatter ? frontmatter.description : `The CSS framework for CSS lovers.`} />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@_yannb_" />
    <meta name="twitter:creator" content="@_yannb_" />
    <meta name="twitter:url" content={Astro.url.href} />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={frontmatter ? frontmatter.description : `The CSS framework for CSS lovers.`} />
    <meta name="twitter:image" content={`${Astro.url.origin}${logoImg.src.split('?')[0]}`} />
    <meta name="twitter:image:alt" content="mCSS logo" />

    <title>{title}</title>

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#0ea5e9" />

    <script is:inline>
      (function () {
        try {
          var theme = localStorage.getItem('theme');
          if (!theme) {
            theme = window.matchMedia('(prefers-color-scheme: dark)').matches ? 'theme-dark' : 'theme-light';
          }
          document.documentElement.classList.add(theme);
          window.localStorage.setItem('theme', theme);
        } catch (e) {}
      })();
    </script>

    <!-- Privacy-friendly analytics by Plausible -->
    <script defer data-domain="mcss.dev" src="https://analytics.minimaldesign.net/js/script.file-downloads.hash.outbound-links.pageview-props.tagged-events.js"></script>
    <script>
      window.plausible =
        window.plausible ||
        function () {
          (window.plausible.q = window.plausible.q || []).push(arguments);
        };
    </script>
  </head>
  <body class={bodyClass}>
    <Header />
    <div class="layout_content">
      <slot />
    </div>
    <Footer />
  </body>
</html>
