---
import { getCollection } from 'astro:content';
import BaseLayout from './BaseLayout.astro';

const allPosts = await getCollection('blog');
const tags = [...new Set(allPosts.map((post) => post.data.tags).flat())];
const { frontmatter } = Astro.props;
---

<BaseLayout title={frontmatter.title} bodyClass="layout layout-centered">
  <main class="layout_content_main blog">
    <h1>{frontmatter.title}</h1>
    <div class="blog_meta">
      <p>
        Published on
        <time datetime={frontmatter.pubDate.toISOString().slice(0, 10)}>
          {
            frontmatter.pubDate.toLocaleDateString('en-US', {
              year: 'numeric',
              month: 'long',
              day: 'numeric',
            })
          }
        </time>
      </p>
      <ul class="tags">
        {
          frontmatter.tags.map((tag) => (
            <li class="tag">
              <a href={`/tags/${tag}`}>{tag}</a>
            </li>
          ))
        }
      </ul>
    </div>
    <div class="prose">
      <slot />
    </div>
  </main>
  <!-- <aside>
    <h3>Browse all tags</h3>
    <ul>
      {
        tags.map((tag) => (
          <li>
            <a href={`/tags/${tag}`}>{tag}</a>
          </li>
        ))
      }
    </ul>
  </aside> -->
</BaseLayout>
