---
import BaseLayout from './BaseLayout.astro';
import NavDocs from '../components/NavDocs.astro';
import Toc from '../components/Toc.astro';

import arrow from '../assets/icons/arrow-right-small.svg?raw';

const { frontmatter } = Astro.props;
const markdownHref = Astro.url.pathname.replace(/\/$/, '') + '.md';
---

<BaseLayout title={`${frontmatter.title} | mCSS Documentation`} bodyClass="layout layout-docs" frontmatter={frontmatter} markdownHref={markdownHref}>
  <aside class="layout_content_aside">
    <NavDocs />
  </aside>
  <aside class="layout_content_aside layout_content_aside-toc">
    <Toc selector=".docs" headings={['h2', 'h3']} scrollOffset={80} description={'On this page'} icon={arrow} />
  </aside>
  <main class="layout_content_main docs">
    <h1 class="h3">{`Docs :: ${frontmatter.title}`}</h1>
    <slot />
  </main>
</BaseLayout>
