---
import { getCollection } from 'astro:content';
import BaseLayout from './BaseLayout.astro';

const allPosts = await getCollection('blog');
const tags = [...new Set(allPosts.map((post) => post.data.tags).flat())];
const { frontmatter } = Astro.props;
---

<BaseLayout title={frontmatter.title} header={frontmatter.title}>
  <p>{frontmatter.pubDate.toString().slice(0, 10)}</p>
  <p><em>{frontmatter.description}</em></p>
  <ul class="tags">
    {
      frontmatter.tags.map((tag) => (
        <li class="tag">
          <a href={`/tags/${tag}`}>{tag}</a>
        </li>
      ))
    }
  </ul>
  <slot />

  <aside>
    <h3>All Tags</h3>
    <ul>
      {
        tags.map((tag) => (
          <li>
            <a href={`/tags/${tag}`}>{tag}</a>
          </li>
        ))
      }
    </ul>
  </aside>
</BaseLayout>
